body {
    padding: 0;
    margin: 0;
    font-family:"Comic Sans MS", cursive, sans-serif ;
    color:rgb(71, 71, 71);
}
/* Start Heading */
.header {
    background-color: rgb(238, 238, 13);
    font-size: 30px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;

}
/* End Headin*/
/* Start Navigation */
.navigation {
    background-color: rgb(233, 233, 144);
    text-align: center;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}
.navigation ul li {
    display: inline-block;
    margin-right: 15px;
}
.navigation ul li:hover {
    cursor: pointer;
    color: #fff;
}
/* End Navigation */
/* Start Content*/
.content {
    text-align: center;
    
}
.content p:first-child {
    font-size: 30px;
    text-transform: capitalize;
}
.content img {
    height: 350px;
    width: 300px;
    margin: 10px;
    border: 3px dotted black;
    padding: 5px;
}
.description {
    margin: 20px;
}
.website {
    margin: 20px;
    text-transform: capitalize;
}
/* End Content*/
/* Start Footer*/
.footer {
    background-color:rgb(238, 238, 13) ;
    text-align: center;
}
.footer p {
    padding: 10px;
}
/* End Footer*/